annotated-types==0.7.0
ansi2html==1.9.2
anthropic==0.51.0
anyio==4.9.0
asynctest==0.13.0
bcrypt==4.0.1
certifi==2025.4.26
cffi==1.17.1
click==8.2.0
contourpy==1.2.1
coverage==7.8.1
cryptography==45.0.2
cycler==0.12.1
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.115.12
fonttools==4.51.0
h11==0.16.0
-e git+ssh://git@github.com/ian-de-marcellus/life-coach-mvp.git@10d22e8883cd95e065588afbdbcc640721f8b2d5#egg=hearth&subdirectory=backend
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
jiter==0.9.0
kiwisolver==1.4.5
matplotlib==3.8.4
motor==3.7.1
numpy==1.26.4
packaging==24.0
passlib==1.7.4
pillow==10.3.0
pluggy==1.6.0
psutil==7.0.0
pyasn1==0.4.8
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.19.1
pymongo==4.13.0
pyparsing==3.1.2
pytest==8.4.0
pytest-asyncio==1.0.0
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
PyYAML==6.0.2
rsa==4.9.1
six==1.16.0
sniffio==1.3.1
starlette==0.46.2
structlog==25.4.0
typing-inspection==0.4.0
typing_extensions==4.13.2
uvicorn==0.34.2
uvloop==0.21.0
watchfiles==1.0.5
websockets==15.0.1
